html {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  max-width: 100vw !important;
  text-align: justify;
  scroll-behavior: smooth;
  line-height: 1.8rem;
  overflow-x: hidden;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  text-align: justify;
  line-height: 1.8rem;
  background-color: #ECF4FF;
}

body, h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

h2, h3, h4, h5, h6 {
  font-weight: 800;
}

/*Navbar*/
/* .gradient {
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(160deg, rgba(2,0,36,1) 0%, rgba(94,94,225,0.98) 29%, rgba(0,212,255,1) 100%);
    z-index: 1;
}

.gradient::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(2,0,36);
    background: linear-gradient(191deg, rgba(2,0,36,1) 0%, rgba(94,94,225,0.98) 55%, rgba(77,115,230,1) 64%, rgba(0,212,255,1) 100%);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
    }

.gradient:hover::before {
    opacity: 1;
} */

header {
  position: fixed;
  padding: 3%;
  z-index: 1000;
}

.projects {
  margin-right: 0px;
  padding-right: 0px;
}

.past-sites {
  margin-left: 0px;
  padding-left: 0px;
}

@media only screen and (max-width: 800px) {
  .projects {
    margin-right: 10px;
    padding-right: 10px;
  }

  .past-sites {
    margin-left: 10px;
    padding-left: 10px;
  }
}

.fa-stack {
  border-radius: 15px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.fa-stack {
  background-color: #132b63;
}

.fa-user, .fa-caret-down {
  color: white;
}

.fixed-top {
  padding: 4%;
}

.nav-col {
  margin: 10px;
}

.nav-btn {
  /*font-family: 'Inter', sans-serif;*/
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  border-style: none;
  background-color: transparent;
  font-size: 1.1rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  outline-style: none;
}

.btn:hover {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}

nav.navbar {
  background: transparent !important;
  padding-top: 2% !important;
  padding-left: 6% !important;
  width: 90%;
}

.img-btn {
  width: 65px;
  margin-left: -18px;
  margin-top: -10px;
  border-radius: 100%;
}

#hor-nav {
  padding: 0;
  position: relative;
  width: 80px;
  height: 55px;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.58, 1);
  overflow: hidden;
  background: #132b63;
  /*background: rgb(2,0,36);
    background: linear-gradient(160deg, rgba(2,0,36,1) 0%, rgba(94,94,225,0.98) 29%, rgba(0,212,255,1) 100%);*/
  border-radius: 30px;
  margin-right: 0;
}

.nav-btn:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s;
  width: 0;
}

.dropdown-content a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 4px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s;
  width: 0;
}

.dropdown-content .dashboard-btn:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 60px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s;
  width: 0;
}

.nav-btn:hover:after {
  width: 50%;
  left: 25%;
}

@media only screen and (min-width: 1300px) {
  .nav-btn1:hover:after {
    width: 65%;
  }

  .nav-btn2:hover:after {
    width: 70%;
  }

  .nav-btn3:hover:after {
    width: 90%;
  }

  .home {
    margin-right:-1.5% !important;
  }

  .events {
    margin-right:-1% !important;
  }

  .webinars {
    margin-right:-5% !important;
  }

  .project {
    margin-right:-5% !important;
  }

  .psite {
    margin-right:-4% !important;
  }
}

@media only screen and (min-width: 990px) and (max-width:1300px) {
  .nav-btn1:hover:after {
    width: 65%;
    left: 40%;
  }

  .nav-btn2:hover:after {
    width: 80%;
    left: 40%;
  }

  .nav-btn3:hover:after {
    width: 95%;
    left: 40%;
  }

  .home {
    margin-left:6% !important;
  }

  .events {
    margin-left:4% !important;
  }

  .webinars {
    margin-left:4% !important;
  }

  .project a{
    margin-left: 1% !important;
  }

  .psite {
    margin-left:14%; !important;
  }

  .ncontact {
    margin-left: -2.5% !important;
  }

  .nsponsor {
    margin-left: 5% !important;
  }
}

.dropdown-content a:hover:after {
  width: 50%;
  left: 10%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 60px;
  right: -10%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin-left: -20%;
  display: none;
  position: absolute;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  background-color: #132b63;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 777px) {
  .dropdown-content a {
    padding-left: 5px !important;
  }

  .dropdown-content a:hover:after {
    width: 50%;
    left: 6%;
  }

  .dropdown-content {
    margin-left: -140%;
  }
}

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: #ddd;} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/*Scrollbar Handle */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #454B69;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3E435E;
}

/*Footer*/
.footer {
  position: relative;
  width: 100vw;
  height: 22vw;
  font-size: 1.2rem;
}

ul.social-network, ul.mail {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li, ul.mail li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #0e76a8;
}

.social-network a.icoYoutube:hover, .social-network a.email:hover {
  background-color: #c4302b;
}

.social-network a.icoInstagram:hover {
  background-color: #bc2a8d;
}

.social-network a.icoTwitter:hover, .social-network a.phone:hover {
  background-color: #00acee;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoYoutube:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoTwitter:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #30d4ff;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 35px;
  height: 35px;
  font-size: 21px;
}

.social-circle li i {
  margin-top: 20%;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: white;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.footer {
  font-size: 1.2rem;
}

.footer-row {
  background-color: #132b63;
  text-align: center;
}

.footer-text {
  color: white;
}

.footer-col {
  text-align: center;
}

.box-input {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.padding-top {
  padding-top: 2%;
}

@media only screen and (min-width: 992px) {
  .margin-left {
    margin-left: 15%;
  }
}

.btn-info {
  border-radius: 16px;
  width: 50%;
  background-color: white;
  border-color: white;
  color: #132b63;
}

.btn-info:hover {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

#snackbar {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  border-radius: 10px;
  z-index: 9;
  margin-left: 50%;
  bottom: 30px;
  transform: translate(-50%, 0);
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#loader {
  text-align: center;
  display: none;
}

.loader-wheel {
  animation: spin 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 4px solid #fff;
  border-radius: 50%;
  height: 40px;
  margin-top: 2%;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
