/*Box*/
div.box1 {
  padding: 25px;
  box-shadow: 0px 5px 5px rgba(0, 100, 255, 0.1);
  background: #fff;
  margin-left: 8vw;
  margin-right: 8vw;
  border-radius: 15px;
}

h1.box-heading {
  /*font-family: 'Inter', sans-serif;*/
  font-size: 35px;
  font-weight: bold;
  color: #454B69;
  letter-spacing: -1px;
}

div.box-text {
  margin-top: 4px;
  /*font-family: 'Inter', sans-serif;*/
  font-weight: normal;
  font-size: 16px;
  color: #0c0f12;
}

div.update-spacing{
  height: 30vh;
}

@media only screen and (max-width: 777px) {
  div.update-spacing{
    height: 50vh;
  }
}

.contact{
  text-align: center;
  padding: 20px;
}

.name {
  margin-top: 2vh;
  font-weight: bolder;
}

.number {
  font-weight: 500;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
}

.rounded-circle{
  border: #000b76 1px solid;
}

.contact-img {
  background-size: cover;
  border:1px solid #1C4193;
}

.tag{
  position: absolute;
  background-color: #000b76;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 15px;
  transform: translate(-50%, -20px);
}

.heading-sites {
  padding-top: 1%;
  font-weight: bolder;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #454B69;
  letter-spacing: -1px;
}
