html, body, .site{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    max-width:100vw !important;
    overflow-x: hidden !important;
    text-align: justify;
    scroll-behavior: smooth;
}

/*Navbar*/
header {
    position: fixed;
    padding: 3%;
    z-index: 1000;
}
  
.fa-user {
    color: blue;
}
  
.login {
    margin-left: 10%;
}

.fixed-top {
    padding: 4%;
}

.nav-col {
    margin: 10px;
}

.nav-btn {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    border-style: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    }

.btn:hover {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

nav.navbar {
    background: transparent !important;
    padding-top: 2% !important;
    padding-left: 6% !important;
    width: 90%;
}

.img-btn {
    width: 40px;
    padding: 5px;
    border-radius: 100%;
}

#hor-nav{
    padding: 0;
    position: relative;
    width: 80px;
    height: 55px;
    transition-property: width;
    transition-duration: 0.5s;
    overflow: hidden;
    background: rgb(2,0,36);
    background: linear-gradient(160deg, rgba(2,0,36,1) 0%, rgba(94,94,225,0.98) 29%, rgba(0,212,255,1) 100%);
    border-radius: 30px;
    margin-right: 0;
}

.nav-btn:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s;
    width: 0;
}

.nav-btn:hover:after {
    width: 50%;
    left: 25%;
}


/*Scrollbar Handle */
::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track-piece{
    background-color:transparent;
}

::-webkit-scrollbar-thumb {
    background:#454B69;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background:#3E435E; 
}

/*Slideshow*/
.mySlides1, .mySlides2 {
    display: none
}

img.event-slides {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
}

@media only screen and (max-width: 777px) {
    img.event-slides {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85vw;
    }
}

/* Slideshow container */
.slideshow-container {
    max-width: 100vw;
    position: relative;
    margin: 0;
    padding: 0;
}

div.container-fluid{
    padding: 0;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: darkblue;
    font-weight: bolder;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 6px 6px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
    background-color: hsl(226, 74%, 66%);
    color: black;
    text-decoration: none;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid darkblue;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: darkblue;
}

.animate-right{
    position: relative;
    animation: animateright 1s;
}

@keyframes animateright{
    from{
        right:-300px;
        opacity:0
    } 
    to{
        right:0;
        opacity:1
    }
}

.animate-left{
    position:relative;
    animation:animateleft 1s
}
    
@keyframes animateleft{
    from{
        left:-300px;
        opacity:0
    } 
    to
    {
        left:0;
        opacity:1
    }
}

/*Events*/
div.events-infoo{
    background-color: #ECF4FF;
}

div.box1 {
    padding: 25px;
    border-radius: 5px;
    box-shadow:0px 5px 5px rgba(0,100,255,0.1);
    background: #fff;
    margin-left: 8vw;
    margin-right: 8vw;
}

h1.box-heading{
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color:#454B69;
    letter-spacing: -1px;
}

div.box-text{
    margin-top: 4px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #0c0f12;
}