/*Box*/
div.box1 {
  padding: 25px;
  box-shadow: 0px 5px 5px rgba(0, 100, 255, 0.1);
  background: #fff;
  margin-left: 8vw;
  margin-right: 8vw;
  border-radius: 15px;
}

h1.box-heading {
  /*font-family: 'Inter', sans-serif;*/
  font-size: 35px;
  font-weight: bold;
  color: #454B69;
  letter-spacing: -1px;
}

div.box-text {
  margin-top: 4px;
  /*font-family: 'Inter', sans-serif;*/
  font-weight: normal;
  font-size: 16px;
  color: #0c0f12;
}

div.update-spacing{
  height: 30vh;
}

@media only screen and (max-width: 777px) {
  div.update-spacing{
    height: 50vh;
  }
}

.card {
  margin: 10%;
  border-radius: 10px;
}

.card-link {
  background-color: #132b63;
  color: white;
  border-radius: 10px;
  width: 30%;
  font-weight: bolder;
}

.card-link:hover {
  background-color: #313ca7 !important;
}

.heading-sites {
  padding-top: 1%;
  font-weight: bolder;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #454B69;
  letter-spacing: -1px;
}
