.logo_anim {
  text-align: center;
}

img {
  width: 30%;
}

@media only screen and (max-width:777px) {
  img {
    width: 50%;
  }
}

h3 {
  color: #101b86;
}

/* #logo path:nth-child(1) {
  stroke-dasharray: 21455;
  stroke-dashoffset: 21455;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
  stroke-dasharray: 475;
  stroke-dashoffset: 475;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(3) {
  stroke-dasharray: 1271;
  stroke-dashoffset: 1271;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(4) {
  stroke-dasharray: 704;
  stroke-dashoffset: 704;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(5) {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(6) {
  stroke-dasharray: 525;
  stroke-dashoffset: 525;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(7) {
  stroke-dasharray: 318;
  stroke-dashoffset: 318;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(8) {
  stroke-dasharray: 413;
  stroke-dashoffset: 413;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(9) {
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(10) {
  stroke-dasharray: 777;
  stroke-dashoffset: 777;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(11) {
  stroke-dasharray: 239;
  stroke-dashoffset: 239;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(12) {
  stroke-dasharray: 436;
  stroke-dashoffset: 436;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(13) {
  stroke-dasharray: 223;
  stroke-dashoffset: 223;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(14) {
  stroke-dasharray: 259;
  stroke-dashoffset: 259;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(15) {
  stroke-dasharray: 263;
  stroke-dashoffset: 263;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(16) {
  stroke-dasharray: 119;
  stroke-dashoffset: 119;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(17) {
  stroke-dasharray: 153;
  stroke-dashoffset: 153;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(18) {
  stroke-dasharray: 92;
  stroke-dashoffset: 92;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(19) {
  stroke-dasharray: 164;
  stroke-dashoffset: 164;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(20) {
  stroke-dasharray: 104;
  stroke-dashoffset: 104;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(21) {
  stroke-dasharray: 82;
  stroke-dashoffset: 82;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(22) {
  stroke-dasharray: 57;
  stroke-dashoffset: 57;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(23) {
  stroke-dasharray: 63;
  stroke-dashoffset: 63;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(24) {
  stroke-dasharray: 51;
  stroke-dashoffset: 51;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(25) {
  stroke-dasharray: 46;
  stroke-dashoffset: 46;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(26) {
  stroke-dasharray: 37;
  stroke-dashoffset: 37;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(27) {
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(28) {
  stroke-dasharray: 159;
  stroke-dashoffset: 159;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(29) {
  stroke-dasharray: 134;
  stroke-dashoffset: 134;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(30) {
  stroke-dasharray: 92;
  stroke-dashoffset: 92;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(31) {
  stroke-dasharray: 72;
  stroke-dashoffset: 72;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(32) {
  stroke-dasharray: 74;
  stroke-dashoffset: 74;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(33) {
  stroke-dasharray: 123;
  stroke-dashoffset: 123;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(34) {
  stroke-dasharray: 83;
  stroke-dashoffset: 83;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(35) {
  stroke-dasharray: 85;
  stroke-dashoffset: 85;
  animation: line-anim 2s ease forwards;
}

#path-1-inside-1 path {
  stroke-dasharray: 3827;
  stroke-dashoffset: 3827;
  animation: line-anim 2s ease forwards;
}

#logo #path-4-inside-2 path {
  stroke-dasharray: 1271;
  stroke-dashoffset: 1271;
  animation: line-anim 2s ease forwards;
}

#logo #path-11-inside-3 path {
  stroke-dasharray: 777;
  stroke-dashoffset: 777;
  animation: line-anim 2s ease forwards;
}

#logo #path-29-inside-4 path {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
  animation: line-anim 2s ease forwards;
}

#logo #path-31-inside-5 path {
  stroke-dasharray: 11;
  stroke-dashoffset: 11;
  animation: line-anim 2s ease forwards;
}

#logo #path-33-inside-6 path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: line-anim 2s ease forwards;
}

#logo #path-35-inside-7 path {
  stroke-dasharray: 2;
  stroke-dashoffset: 2;
  animation: line-anim 2s ease forwards;
}

#logo #path-37-inside-8 path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: line-anim 2s ease forwards;
}

#logo #path-39-inside-9 path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: line-anim 2s ease forwards;
}

#logo #path-41-inside-10 path {
  stroke-dasharray: 2;
  stroke-dashoffset: 2;
  animation: line-anim 2s ease forwards;
}

#logo #path-43-inside-11 path {
  stroke-dasharray: 5;
  stroke-dashoffset: 5;
  animation: line-anim 2s ease forwards;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
} */
