html, body, .site{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    max-width:100vw !important;
    overflow-x: hidden !important;
    text-align: justify;
    scroll-behavior: smooth;
}

/*Navbar*/
nav.navbar{
    font-family: 'Karla', sans-serif;
    font-weight: normal;
    font-size: larger;
    background: #000000;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2vw;
}

.nav-item .nav-link{
    font-size: 16px;
}

#nav-item-events{
    color: #ff1493;
}

#nav-item-webinar{
    color: #30d4ff;
}

#nav-item-contact{
    color: #faeb2c;
}

#nav-item-login{
    color: #c401ff;
}

div.Spacing{
    height:50px;
}

/*Scrollbar*/
/* Handle */
::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track-piece{
    background-color:transparent;
}

::-webkit-scrollbar-thumb {
    background:#454B69;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background:#3E435E; 
}

/*Theme*/
div.Theme{
    height: 80vh;
    background: #161616;
}

div.loopingvideo{
    position: absolute;
    left: 20vw;
}

video{
    height: 76.5vh;
}

div.Theme-Text {
    position: relative;
    padding-left: 5.5vw;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

div.Theme-Text h1{
    color:white;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: -10px;
}

div.Theme-Text h1.aml2020-text {
    margin-bottom: 5px;
}

@media only screen and (max-width: 777px) {
    div.Theme{
        height: 60vh;
    }

    div.Theme-Text {
        padding-left: 5.5vw;
        padding-top: 8vh;
        padding-bottom: 0;
    }

    video{
        height: 0;
    }
}

div.h-line{
    background: #f747d0;
    height: 7px;
}

/*About*/
div.About{
    padding-left: 5.5vw;
    padding-right: 5.5vw;
}

h1.About-heading{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    color: #1685f8;
    font-size: 35px;
    text-align: center;
    letter-spacing: -1px;
}

div.About-text{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #0c0f12;
}

div.vl{
    border-left: 6px solid #f7f429;
    height: 6vh;
}

/*Events*/
div.Events{
    padding-left: 5.5vw;
    padding-right: 5.5vw;
}

h1.Event-heading{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    color: #ff1493;
    font-size: 35px;
    text-align: center;
    letter-spacing: -1px;
}

div.Event-text{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #0c0f12;
}

img.event-image{
    width: 100%;
    height: 25vh;
}

/*Webinar*/
div.Webinar{
    padding-left: 5.5vw;
    padding-right: 5.5vw;
}

h1.Webinar-heading{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    color: #00c2ba;
    font-size: 35px;
    text-align: center;
    letter-spacing: -1px;
}

div.Webinar-text{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #0c0f12; 
}

/*Instagram Feed*/
div.Insta{
    padding-left: 5.5vw;
    padding-right: 5.5vw;
}

h1.Insta-heading{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    color: #007bff;
    font-size: 35px;
    text-align: center;
    letter-spacing: -1px;
}

/*Testimonials*/
div.Testimonial{
    padding-left: 5.5vw;
    padding-right: 5.5vw;
}

h1.Testimonial-heading{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    color: #0d98ba;
    font-size: 35px;
    text-align: center;
    letter-spacing: -1px;
}

.personInfo {
    padding:25px 10px !important;    
    color:#000;
    background: #FFF !important;
    border:1px solid #0d98ba; 
    text-align: center;
    margin:0px 3px;
    font-size:12pt;
  }
  
.personInfo .quote {
    margin-top:4vh;   
}

.personInfo .name {
    margin-top:4vh;   
}

.testimonials {
    text-align: center;
    font-size: 2.5vw;
    color:#454B69;
}

.testimonials i {
    background: #fff;
    padding:15px;
    border-radius: 100%;
    border:1px solid #454B69;
}

.testimonials .underLine {
    width: 10vh;
    margin-left:50%;
    margin-top:5px;
    background:#454B69; 
    height: 5px;
}

/*Footer*/
div.Footer{
    background: #161616;
    padding-left: 5.5vw;
    padding-right: 2vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

h2.Footer-text{
    color:white;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoYoutube:hover {
    background-color: #ff003a;
}

.social-network a.icoInstagram:hover {
    background-color: #ff1493;
}

.social-network a.icoTwitter:hover {
    background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoYoutube:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoTwitter:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #30d4ff;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    font-size: 21px;
    }

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #161616;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #30d4ff;
}

#Email-Phone{
    padding-top: 2vw;
}

.Email i{
    color:#fae2bc;
}

a.Email-text{
    color: white;
    text-align: center;
}

.Phone i{
    color:#fae2bc;
}

a.Phone-text{
    color: white;
    text-align: center;
}

@media only screen and (max-width: 777px) {
    #Social{
        padding-left: 18vw;
    }

    #Email, #App{
        padding-left: 25vw;
        padding-top: 4vw;
    }

    a.Email{
        position: relative;
    }

    a.Email-text{
        position: absolute;
        top: 35%;
        left: auto;
    }

    a.Phone{
        position: relative;
    }

    a.Phone-text{
        position: absolute;
        top: 35%;
        left: auto;
    }
}

@media only screen and (min-width: 888px) {
    #Email, #App{
        padding-top: 3.5vh;
    }

    a.Email{
        position: relative;
    }
    a.Email-text{
        position: absolute;
        top: 34%;
        left: auto;
    }

    a.Phone{
        position: relative;
    }
    a.Phone-text{
        position: absolute;
        top: 35%;
        left: auto;
    }
}